<div ng-include src="'component/head.html'"
     ng-init="
            header.title='Watch';
            header.description='What kind of change can be watched? Equality vs Reference
            You can watch object deeply if you set 3rd parameter of $watch to true.
            (see JS console log)
            ';
        "></div>

<div ng-controller="WatchController">
    <table class="table" border="1">
        <tr>
            <th class="header">Variable</th>
            <th class="header">Value</th>
            <th class="header">Model</th>
        </tr>

        <tr>
            <td>person.name</td>
            <td><input ng-model="person.name"></td>
            <td>{{person.name}}</td>
        </tr>
        <tr>
            <td>person.car.year</td>
            <td><input ng-model="person.car.year"></td>
            <td>{{person.car.year}}</td>
        </tr>
        <tr>
            <td><button ng-click="onInit()">Refresh</button></td>
        </tr>
    </table>
    <hr/>

</div>
