<h1>Animated page</h1>
<button ng-click="on=!on">Test animation on ng-if (toggle)</button>
<div ng-init="on=true">
    <div class="animFadeInRight" ng-if="on">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna odio, congue vel ultrices et, tincidunt ac ipsum. Morbi sed porta elit, a sagittis ipsum. Suspendisse ut luctus lacus. Aliquam porttitor, ligula et ullamcorper elementum, mi mi lacinia sapien, ut interdum mi ligula non dui. Praesent eget sagittis risus. In elementum non metus quis tristique. Vestibulum euismod dolor enim, at ultrices sem feugiat et.
    </div>

</div>

<p/>
<a href="javascript:history.back()">Back</a>